@charset "UTF-8";
.action-bar {
  position: relative;
  text-align: center;
  height: 4.5rem; }
  .action-bar > .main-button-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 9.8rem;
    height: 6.6rem; }
    .action-bar > .main-button-wrapper a.main-button {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("../img/button/bg.png"); }
      .action-bar > .main-button-wrapper a.main-button > .fa {
        margin: 1.7rem 0 0.8rem;
        font-size: 1.3rem;
        color: white;
        -webkit-transition: -webkit-transform 0.2s;
                transition: transform 0.2s; }
      .action-bar > .main-button-wrapper a.main-button > .icon-title {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
        line-height: 1.7rem;
        letter-spacing: 1px;
        text-transform: uppercase; }
      .action-bar > .main-button-wrapper a.main-button:hover > .fa {
        -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
                transform: translateY(-3px); }
  .action-bar > .sub-button-wrapper {
    padding-top: 0.8rem; }
    .action-bar > .sub-button-wrapper > a.sub-button {
      display: block; }
      .action-bar > .sub-button-wrapper > a.sub-button > * {
        -webkit-transition: color 0.2s;
                transition: color 0.2s; }
      .action-bar > .sub-button-wrapper > a.sub-button > .fa {
        font-size: 1.8rem;
        color: #d9d9d9;
        -webkit-transition: all 0.2s;
                transition: all 0.2s; }
      .action-bar > .sub-button-wrapper > a.sub-button > .icon-title {
        font-size: 1.1rem;
        font-weight: 700;
        color: #cccccc;
        line-height: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1px; }
      .action-bar > .sub-button-wrapper > a.sub-button:first-child {
        padding-right: 4.9rem; }
      .action-bar > .sub-button-wrapper > a.sub-button:last-child {
        padding-left: 4.9rem; }
      .action-bar > .sub-button-wrapper > a.sub-button:hover > .fa, .action-bar > .sub-button-wrapper > a.sub-button:hover > .icon-title {
        color: #b3b3b3; }
  .action-bar .icon-title.alt {
    display: none; }
  .action-bar.alt-action-bar {
    height: 7.7rem; }
    .action-bar.alt-action-bar > .main-button-wrapper {
      width: 7.4rem;
      height: 7.4rem; }
      .action-bar.alt-action-bar > .main-button-wrapper a.main-button {
        background-image: url("../img/button/bg_circle.png"); }
        .action-bar.alt-action-bar > .main-button-wrapper a.main-button > .fa {
          margin: 2.4rem 0 0.2rem;
          font-size: 1.8rem; }
        .action-bar.alt-action-bar > .main-button-wrapper a.main-button > .icon-title {
          margin: 0;
          font-size: 1.1rem; }
    .action-bar.alt-action-bar > .sub-button-wrapper {
      padding-top: 2.4rem; }

.icon.icon-24 {
  width: 2.4rem;
  height: 2.4rem; }
.icon.icon-32 {
  width: 3.2rem;
  height: 3.2rem; }
.icon.icon-40 {
  width: 4rem;
  height: 4rem; }
.icon.icon-48 {
  width: 4.8rem;
  height: 4.8rem; }
.icon.icon-64 {
  width: 6.4rem;
  height: 6.4rem; }

.icon.care-icon {
  position: relative;
  display: inline-block;
  letter-spacing: 0;
  vertical-align: middle; }
  @media only screen and (max-width: 40em) {
    .icon.care-icon {
      top: -0.4rem;
      width: 3.8rem;
      height: 3.8rem;
      line-height: 3.8rem;
      font-size: 1.3rem; } }
  @media only screen and (min-width: 40.063em) {
    .icon.care-icon {
      top: -0.6rem;
      width: 4.6rem;
      height: 4.6rem;
      line-height: 4.5rem;
      font-size: 1.4rem; } }

.icon-bar {
  background-color: white; }
  .icon-bar .item {
    border-left: whitesmoke solid 2px;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: background-color 0.2s;
            transition: background-color 0.2s; }
    @media only screen and (max-width: 40em) {
      .icon-bar .item {
        height: 7.2rem;
        padding-top: 1.6rem; }
        .icon-bar .item:first-child {
          border-left-color: transparent; } }
    @media only screen and (min-width: 40.063em) {
      .icon-bar .item {
        height: 25.6rem; }
        .icon-bar .item:last-child {
          border-right: whitesmoke solid 2px; } }
    .icon-bar .item:hover {
      background-color: whitesmoke; }
    .icon-bar .item h1 {
      position: relative;
      font-size: 7.2rem;
      font-weight: 200;
      color: #cccccc;
      line-height: 1;
      margin-top: 0.6rem;
      margin-bottom: 7.0rem; }
      .icon-bar .item h1:after {
        content: url("../img/smallicons/sep.svg");
        position: absolute;
        top: 5.2rem;
        left: 0;
        right: 0;
        margin: auto; }
      @media only screen and (max-width: 40em) {
        .icon-bar .item h1 {
          display: none; } }
    .icon-bar .item label {
      font-size: 1.0rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #cccccc;
      margin-top: 0.5rem; }
      @media only screen and (min-width: 40.063em) {
        .icon-bar .item label {
          font-size: 1.3rem;
          margin-top: 1.2rem; } }

#info-content-list {
  display: none; }

.info-box {
  position: fixed;
  top: 0rem;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  background-color: #333333;
  padding: 1.6rem;
  margin-bottom: 2rem;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s; }
  @media only screen and (min-width: 40.063em) {
    .info-box {
      position: absolute;
      width: 24rem; } }
  .info-box.hidden {
    visibility: hidden;
    z-index: -1; }
  .info-box .info-content {
    text-align: left; }
    .info-box .info-content > h4 {
      margin-top: 0;
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      color: white; }
    .info-box .info-content > p {
      margin-bottom: 0;
      font-size: 1.2rem;
      color: white; }
  @media only screen and (min-width: 40.063em) {
    .info-box:not(.no-pointer):after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 1rem;
      border-color: #333333 transparent transparent transparent;
      border-top-style: solid;
      position: absolute;
      bottom: -2rem;
      left: 1.4rem; } }
  .info-box a[href="#close"] {
    font-size: 1.2rem;
    position: absolute;
    z-index: 2;
    right: 1.6rem;
    top: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: color 0.2s;
            transition: color 0.2s; }
    .info-box a[href="#close"]:hover {
      color: white; }

ul.res-info-list li {
  font-weight: 600;
  font-size: 1.3rem;
  color: #b3b3b3;
  text-transform: uppercase;
  padding-left: 0.6rem;
  margin-bottom: 0.7rem; }
  ul.res-info-list li i {
    color: #e6e6e6;
    font-size: 1.6rem; }
  ul.res-info-list li .hightlight {
    color: #e2574c; }
  ul.res-info-list li .black {
    font-weight: 900; }

div.image, .icon {
  -webkit-background-size: cover cover;
          background-size: cover;
  background-position: center; }

div.shadow {
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 1; }
  div.shadow.horizontal {
    height: 6px;
    width: 100%; }
  div.shadow.vertical {
    height: 100%;
    width: 6px; }

.complex-background {
  position: relative; }
  .complex-background, .complex-background > * {
    width: 100%;
    height: 100%; }
  .complex-background > * {
    position: absolute;
    top: 0;
    left: 0; }
  .complex-background > .overlay.dark-gradient {
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4) 100%);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4) 100%); }
  .complex-background > .overlay.inset-shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 6px 0 inset, rgba(0, 0, 0, 0.05) 0 -6px 0 inset;
            box-shadow: rgba(0, 0, 0, 0.05) 0 6px 0 inset, rgba(0, 0, 0, 0.05) 0 -6px 0 inset; }
  .complex-background > .overlay.dark {
    background-color: rgba(0, 0, 0, 0.5); }
  .complex-background > .overlay.pattern {
    background-image: url("../img/pattern.png"); }
  .complex-background .image img {
    position: absolute;
    height: 100%;
    width: auto; }
    @media only screen and (min-width: 40.063em) {
      .complex-background .image img {
        width: 100%;
        height: auto; } }

.th {
  border: 3px solid white; }
  .th, .th:hover {
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.08); }

.multiple-th, .circle-th {
  position: relative; }
  .multiple-th .image, .circle-th .image {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white; }
  .multiple-th .image.main, .circle-th .image.main {
    z-index: 1; }
  .multiple-th .image:not(.main):nth-of-type(1), .circle-th .image:not(.main):nth-of-type(1) {
    -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
            transform: rotate(12deg);
    margin-top: -2px;
    margin-right: -3px; }
  .multiple-th .image:not(.main):nth-of-type(2), .circle-th .image:not(.main):nth-of-type(2) {
    -webkit-transform: rotate(350deg);
        -ms-transform: rotate(350deg);
            transform: rotate(350deg); }

.circle-th .image {
  border-radius: 100%; }

.panel {
  background: white;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: whitesmoke 0 0 0 4px;
          box-shadow: whitesmoke 0 0 0 4px;
  margin: 0.4rem 1.8rem 2.4rem;
  padding: 0.8rem; }
  .panel .panel-content-wrapper {
    height: 28.3rem;
    overflow: hidden;
    margin-bottom: 0.8rem; }
  .panel .panel-content {
    -webkit-transition: -webkit-transform 0.4s;
            transition: transform 0.4s;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .panel .panel-header {
    height: 12.8rem;
    margin-bottom: 1.2rem; }
    .panel .panel-header > .image:not(.icon) {
      border-radius: 2px; }
    .panel .panel-header > .icon {
      top: auto;
      bottom: -1.2rem;
      left: 0;
      right: 0;
      margin: auto;
      -webkit-box-shadow: white 0 0 0 4px;
              box-shadow: white 0 0 0 4px; }
  .panel .panel-body {
    margin-bottom: 0rem;
    padding: 0 0.8rem; }
    .panel .panel-body .sub-title {
      padding-top: 1rem;
      margin-bottom: 0.4rem;
      line-height: 1.4rem;
      font-weight: 600;
      font-size: 1.1rem;
      color: #cccccc;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .panel .panel-body .title {
      margin: 0.2rem 0 0.6rem;
      line-height: 2.3rem;
      font-weight: 600;
      font-size: 1.8rem;
      color: #e2574c; }
    .panel .panel-body .description > p, .panel .panel-body .description > ul > li {
      font-size: 1.3rem;
      color: #999999;
      line-height: 2.1rem; }
    .panel .panel-body .description > p {
      margin: 0 0 0.6rem; }
    .panel .panel-body .description > hr {
      margin: 1.1rem 0 1.1rem; }
    .panel .panel-body .description > ul {
      margin-left: 2.5rem;
      margin-bottom: 0.8rem; }
      .panel .panel-body .description > ul > li {
        margin-bottom: 0.6rem; }
        .panel .panel-body .description > ul > li i.fa {
          color: #e2574c;
          margin-top: 0.1rem; }
          .panel .panel-body .description > ul > li i.fa.disabled {
            color: #cccccc; }
        .panel .panel-body .description > ul > li a {
          font-weight: 700; }
    .panel .panel-body .description > .img-list {
      font-size: 0; }
      .panel .panel-body .description > .img-list > .friend-ava {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 0.2rem 0.2rem 0;
        line-height: 1.6rem;
        background-image: url("../data/friend.jpg");
        -webkit-background-size: 25.6rem 1.6rem;
                background-size: 25.6rem 1.6rem; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(1) {
          background-position: -1.6rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(2) {
          background-position: -3.2rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(3) {
          background-position: -4.8rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(4) {
          background-position: -6.4rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(5) {
          background-position: -8rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(6) {
          background-position: -9.6rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(7) {
          background-position: -11.2rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(8) {
          background-position: -12.8rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(9) {
          background-position: -14.4rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(10) {
          background-position: -16rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(11) {
          background-position: -17.6rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(12) {
          background-position: -19.2rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(13) {
          background-position: -20.8rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(14) {
          background-position: -22.4rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(15) {
          background-position: -24rem 0; }
        .panel .panel-body .description > .img-list > .friend-ava:nth-of-type(16) {
          background-position: -25.6rem 0; }
    .panel .panel-body .calendar-icon {
      -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.04);
              box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.04);
      border-radius: 2px;
      margin-top: 2px;
      margin-left: 10px; }
      .panel .panel-body .calendar-icon .month {
        margin: 0;
        font-size: 0.9rem;
        font-weight: 700;
        color: white;
        line-height: 1.1rem;
        letter-spacing: 1px;
        text-transform: uppercase; }
      .panel .panel-body .calendar-icon .date {
        margin-bottom: 0;
        font-size: 1.8rem;
        font-weight: 700;
        color: #2b414d;
        line-height: 2.3rem; }
  .panel.expanded a[role="expand"] > .fa-chevron-up {
    -webkit-transform: rotate(180deg) !important;
        -ms-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important; }
  .panel.expanded a[role="expand"] > .icon-title.alt {
    display: block; }
  .panel.expanded a[role="expand"] > .icon-title:not(.alt) {
    display: none; }
  .panel.mission-item-panel .panel-content-wrapper {
    height: 24.3rem;
    margin-bottom: 1.6rem; }
  .panel.mission-item-panel .panel-header {
    height: 10.4rem; }
  .panel.deal-item-panel .panel-content-wrapper {
    height: auto; }
  .panel.deal-item-panel .panel-body .description > ul, .panel.deal-item-panel .panel-body .description > ul > li:last-child {
    margin-bottom: 0; }

.pill, .sub-nav dd:not(#normal) > a, ul.pagination > li > a, .label, .tabs .tab-title a {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #b3b3b3;
  border-radius: 4px;
  padding: 0 1.1rem;
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }
  .pill:hover, .sub-nav dd:not(#normal) > a:hover, ul.pagination > li > a:hover, .label:hover, .tabs .tab-title a:hover {
    background-color: #f0f0f0; }

.sub-nav {
  height: 2.4rem;
  margin: auto;
  padding: 0; }
  .sub-nav dd:not(#normal) {
    margin-left: 0.8rem;
    margin-bottom: 0; }
    .sub-nav dd:not(#normal).active > a {
      background-color: #e2574c;
      color: white; }

.label {
  line-height: 2.2rem;
  background-color: whitesmoke;
  border: solid whitesmoke 1px;
  font-weight: 600;
  cursor: arrow; }
  .label:hover, .label:active {
    background-color: #e2574c;
    border-color: #e2574c;
    color: white; }

.section-wrapper {
  height: 100%; }
  .section-wrapper > section {
    height: 100%;
    min-height: 40rem;
    max-height: 78rem;
    overflow: hidden; }
    @media only screen and (min-width: 40.063em) {
      .section-wrapper > section {
        min-height: 66rem; } }
  @media only screen and (max-width: 40em) {
    .section-wrapper {
      padding-bottom: 7.4rem; } }

.section-shadow {
  -webkit-box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.05); }

.light-gray-background {
  background-color: #fafafa; }

.section-header {
  position: relative;
  margin-bottom: 1.2rem; }
  .section-header > img.title {
    width: 7.2rem;
    height: 2.2rem;
    margin-left: 0.8rem;
    position: relative;
    top: 1px; }
    @media only screen and (min-width: 40.063em) {
      .section-header > img.title {
        margin-left: 1.6rem; } }
  .section-header .sub-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    padding-top: 2px;
    overflow: visible; }
  @media only screen and (min-width: 40.063em) {
    .section-header > img.icon.icon-32 {
      width: 4.8rem;
      height: 4.8rem; } }

.tabs-content, .tabs-content *:not(.important), .tabs, .tabs *:not(.important) {
  outline: none;
  margin: 0;
  padding: 0; }

.tabs {
  text-align: center;
  border-top: #e6e6e6 solid 2px; }
  .tabs .tab-title {
    display: inline-block;
    padding-top: 1.6rem;
    float: none;
    -webkit-box-shadow: 0 -2px 0 transparent;
            box-shadow: 0 -2px 0 transparent;
    -webkit-transition: all 0.2s;
            transition: all 0.2s; }
    .tabs .tab-title a {
      background-color: transparent;
      font-size: 1.4rem;
      -webkit-transition: color 0.2s;
              transition: color 0.2s; }
      .tabs .tab-title a:hover {
        background-color: transparent;
        color: #e2574c; }
    .tabs .tab-title.active {
      -webkit-box-shadow: 0 -2px 0 #e2574c;
              box-shadow: 0 -2px 0 #e2574c; }
      .tabs .tab-title.active a {
        color: #e2574c; }
  .tabs .divider {
    color: #cccccc;
    font-size: 1.4rem; }

.res-title h1 {
  font-size: 4.2rem;
  line-height: 3.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  vertical-align: middle; }
  @media only screen and (min-width: 40.063em) {
    .res-title h1 {
      font-size: 7.2rem;
      line-height: 9.0rem;
      letter-spacing: 10px; } }
.res-title h3 {
  font-size: 2.4rem;
  line-height: 3.0rem;
  font-weight: 300; }
  .res-title h3:before, .res-title h3:after {
    content: "—";
    margin: auto 0.8em; }

body * {
  -webkit-tap-highlight-color: rbga(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; }
body *:not(.no-smooth) {
  -webkit-font-smoothing: subpixel-antialiased; }

.white-line {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  border: solid white 1px;
  background-color: transparent;
  color: white; }
  @media only screen and (min-width: 40.063em) {
    .white-line {
      border: solid white 2px; } }
  .white-line:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white; }
  .white-line.toggle.selected, .white-line.toggle.active {
    background-color: white;
    color: #e2574c; }

.round {
  border-radius: 100%; }

.full-height {
  height: 100%; }

.float {
  position: absolute;
  z-index: 2; }

.container {
  width: 100%;
  max-width: 102.4rem;
  margin: auto; }
  .container.float {
    left: 0;
    right: 0; }

.align-top:not(#important) {
  top: 0;
  bottom: auto; }

.align-bottom:not(#important) {
  top: auto;
  bottom: 0; }

.text-link {
  border-bottom: dashed 1px transparent;
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }
  .text-link:hover {
    border-bottom-color: #e2574c; }

#map-canvas {
  background: url("../img/text/map-loading.png") no-repeat;
  background-color: #EAE6DD !important;
  -webkit-background-size: 19.3rem 9rem;
          background-size: 19.3rem 9rem;
  background-position: top; }

.home-section {
  padding-bottom: 16rem; }
  @media only screen and (min-width: 40.063em) {
    .home-section {
      min-height: 50rem;
      padding-bottom: 25.6rem; } }
  .home-section > .cover {
    position: relative;
    height: 100%; }
    .home-section > .cover .res-title {
      top: 0;
      bottom: 0;
      height: 4.6rem; }
      @media only screen and (max-width: 40em) {
        .home-section > .cover .res-title {
          padding: 0 2rem; } }
      @media only screen and (min-width: 40.063em) {
        .home-section > .cover .res-title {
          height: 12rem; } }
      .home-section > .cover .res-title > * {
        color: white; }
  .home-section > .home-info {
    width: 100%;
    height: 16rem; }
    @media only screen and (min-width: 40.063em) {
      .home-section > .home-info {
        height: 25.6rem; } }
    .home-section > .home-info > .main-info {
      position: relative; }
      .home-section > .home-info > .main-info .multiple-th, .home-section > .home-info > .main-info .circle-th {
        position: absolute;
        top: -6.7rem;
        left: 2.1rem;
        width: 7.8rem;
        height: 7.8rem; }
        @media only screen and (min-width: 40.063em) {
          .home-section > .home-info > .main-info .multiple-th, .home-section > .home-info > .main-info .circle-th {
            top: 3.7rem;
            left: 2.8rem;
            width: 10.4rem;
            height: 10.4rem; }
            .home-section > .home-info > .main-info .multiple-th .th, .home-section > .home-info > .main-info .circle-th .th {
              border: 4px solid white; } }
      .home-section > .home-info > .main-info .res-info-list {
        margin-top: 2.6rem; }
        @media only screen and (min-width: 40.063em) {
          .home-section > .home-info > .main-info .res-info-list {
            margin-top: 4.0rem;
            margin-left: 16.8rem; } }
      .home-section > .home-info > .main-info ul.tag-list, .home-section > .home-info > .main-info ul.recent-res {
        position: absolute;
        top: -6.4rem;
        left: 11.8rem; }
        @media only screen and (min-width: 40.063em) {
          .home-section > .home-info > .main-info ul.tag-list, .home-section > .home-info > .main-info ul.recent-res {
            top: 17.6rem;
            left: 2.8rem; } }
      .home-section > .home-info > .main-info ul.tag-list {
        margin-left: 0;
        margin-bottom: -0.8rem; }
        .home-section > .home-info > .main-info ul.tag-list li.label {
          margin: 0 0.8rem 0.8rem 0; }
        @media only screen and (max-width: 40em) {
          .home-section > .home-info > .main-info ul.tag-list li.label {
            background-color: transparent;
            border: solid white 1px;
            color: white; } }
    .home-section > .home-info > .navigation {
      position: fixed;
      z-index: 3;
      bottom: 0;
      padding: 0;
      height: 100%;
      overflow: hidden; }
      @media only screen and (max-width: 40em) {
        .home-section > .home-info > .navigation {
          padding: 0;
          height: 7.4rem;
          border-top: 2px solid whitesmoke; } }
      @media only screen and (min-width: 40.063em) {
        .home-section > .home-info > .navigation {
          position: static; } }

#res-eam ul.slick-dots {
  margin-left: 0; }
@media only screen and (max-width: 40em) {
  #res-eam {
    height: auto;
    max-height: none; } }
@media only screen and (max-width: 40em) {
  #res-eam > div.complex-background #map-canvas {
    position: static;
    height: 20rem; }
  #res-eam > div.complex-background > .shadow.align-bottom.show-for-small-only {
    bottom: 0;
    top: 19.4rem; }
  #res-eam > div.complex-background > .content-wrapper {
    position: static; } }
#res-eam > div.complex-background > .content-wrapper {
  height: auto;
  top: auto;
  bottom: 0rem;
  z-index: 0;
  padding: 0; }
  @media only screen and (min-width: 40.063em) {
    #res-eam > div.complex-background > .content-wrapper {
      bottom: 3.2rem;
      padding: 0 3.2rem; } }
  #res-eam > div.complex-background > .content-wrapper > .content > .columns {
    padding: 2.4rem 1.6rem 0; }
    #res-eam > div.complex-background > .content-wrapper > .content > .columns:first-child {
      border-bottom: whitesmoke solid 2px; }
    @media only screen and (min-width: 40.063em) {
      #res-eam > div.complex-background > .content-wrapper > .content > .columns {
        padding: 3.2rem 3.2rem 0; }
        #res-eam > div.complex-background > .content-wrapper > .content > .columns:first-child {
          border-right: whitesmoke solid 2px;
          border-bottom: 0; } }

#menu-section .menu-bg {
  position: relative;
  background: #e2574c;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 0 0 1px #bf392b, 0 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 0 0 1px #bf392b, 0 0 0 6px rgba(0, 0, 0, 0.05); }
  #menu-section .menu-bg .menu-corners {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #menu-section .menu-bg .menu-corners .menu-corner {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border: 2rem inset;
      border-color: #bf392b transparent transparent #bf392b;
      border-top-style: solid;
      border-left-style: solid; }
      #menu-section .menu-bg .menu-corners .menu-corner:nth-of-type(1) {
        top: 0;
        left: 0;
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
      #menu-section .menu-bg .menu-corners .menu-corner:nth-of-type(2) {
        top: 0;
        right: 0;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
      #menu-section .menu-bg .menu-corners .menu-corner:nth-of-type(3) {
        bottom: 0;
        right: 0;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
      #menu-section .menu-bg .menu-corners .menu-corner:nth-of-type(4) {
        bottom: 0;
        left: 0;
        -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
                transform: rotate(270deg); }
  #menu-section .menu-bg .menu-papers-wrapper {
    width: 100%;
    height: 100%;
    padding: 1.2rem; }
    #menu-section .menu-bg .menu-papers-wrapper .menu-papers {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0 0 0.6rem;
      background-color: white;
      -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
              box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
      overflow: hidden; }
      @media only screen and (min-width: 40.063em) {
        #menu-section .menu-bg .menu-papers-wrapper .menu-papers {
          padding: 0 0.6rem; } }
    #menu-section .menu-bg .menu-papers-wrapper .menu-spiral {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      margin: auto; }
      @media only screen and (max-width: 40em) {
        #menu-section .menu-bg .menu-papers-wrapper .menu-spiral {
          top: -2rem;
          width: 100%;
          height: 3.4rem;
          background-image: url("../img/menu/line_r.png");
          -webkit-background-size: 4.1rem 3.4rem;
                  background-size: 4.1rem 3.4rem;
          background-repeat: repeat-x; } }
      @media only screen and (min-width: 40.063em) {
        #menu-section .menu-bg .menu-papers-wrapper .menu-spiral {
          top: 0;
          width: 3.4rem;
          height: 100%;
          background-image: url("../img/menu/line.png");
          -webkit-background-size: 3.4rem 4.1rem;
                  background-size: 3.4rem 4.1rem;
          background-repeat: repeat-y; } }
    @media only screen and (max-width: 40em) {
      #menu-section .menu-bg .menu-papers-wrapper .paper-shadow {
        display: none; } }
    @media only screen and (min-width: 40.063em) {
      #menu-section .menu-bg .menu-papers-wrapper .paper-shadow {
        height: 100%; }
        #menu-section .menu-bg .menu-papers-wrapper .paper-shadow.shadow-left {
          background-image: -webkit-linear-gradient(0deg, transparent 50%, rgba(0, 0, 0, 0.04) 100%);
          background-image: linear-gradient(90deg, transparent 50%, rgba(0, 0, 0, 0.04) 100%);
          padding-left: 2.6rem;
          padding-right: 4.8rem; }
        #menu-section .menu-bg .menu-papers-wrapper .paper-shadow.shadow-right {
          background-image: -webkit-linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.04) 100%);
          background-image: linear-gradient(-90deg, transparent 50%, rgba(0, 0, 0, 0.04) 100%);
          padding-left: 4.8rem;
          padding-right: 2.6rem; } }
#menu-section .menu-content {
  padding: 0 1.6rem; }
  @media only screen and (min-width: 40.063em) {
    #menu-section .menu-content {
      padding: 0 0.8rem; } }
  #menu-section .menu-content .menu-page {
    padding: 0 0.8rem; }
    @media only screen and (min-width: 40.063em) {
      #menu-section .menu-content .menu-page {
        padding: 0 4.8rem; } }
    #menu-section .menu-content .menu-page > .page-content-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 4.8rem 0; }
      @media only screen and (min-width: 40.063em) {
        #menu-section .menu-content .menu-page > .page-content-wrapper {
          padding: 5.6rem 0; } }
      #menu-section .menu-content .menu-page > .page-content-wrapper > .page-content {
        width: 100%;
        height: 100%; }
        @media only screen and (min-width: 40.063em) {
          #menu-section .menu-content .menu-page > .page-content-wrapper > .page-content:not(.cover) {
            border: 2px solid #e6e6e6;
            border-left: none;
            border-right: none; } }
      #menu-section .menu-content .menu-page > .page-content-wrapper > .page-number {
        position: absolute;
        bottom: 3.6rem;
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: #cccccc; }
        @media only screen and (min-width: 40.063em) {
          #menu-section .menu-content .menu-page > .page-content-wrapper > .page-number {
            bottom: 2.8rem; } }
#menu-section .page-content > .content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 26.6rem;
  margin: auto; }
  @media only screen and (max-width: 40em) {
    #menu-section .page-content > .content {
      top: 0rem;
      bottom: 2rem; } }
  @media only screen and (min-width: 40.063em) {
    #menu-section .page-content > .content {
      height: 36.6rem; } }
  #menu-section .page-content > .content li {
    margin-bottom: 1.6rem; }
    @media only screen and (min-width: 40.063em) {
      #menu-section .page-content > .content li {
        margin-bottom: 2.4rem; } }
    #menu-section .page-content > .content li .price {
      font-size: 1.4rem;
      line-height: 1.8rem;
      float: right;
      font-weight: 400;
      color: #999999; }
      @media only screen and (min-width: 40.063em) {
        #menu-section .page-content > .content li .price {
          font-size: 1.8rem;
          line-height: 2.3rem; } }
      #menu-section .page-content > .content li .price::after {
        content: "k"; }
    #menu-section .page-content > .content li .title {
      font-size: 1.4rem;
      line-height: 1.8rem;
      margin-bottom: -2px;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #bf392b; }
      @media only screen and (min-width: 40.063em) {
        #menu-section .page-content > .content li .title {
          font-size: 1.8rem;
          line-height: 2.3rem;
          margin-bottom: 1px; } }
    #menu-section .page-content > .content li .description {
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 400;
      color: #b3b3b3; }
      @media only screen and (min-width: 40.063em) {
        #menu-section .page-content > .content li .description {
          font-size: 1.3rem;
          line-height: 1.7rem; } }
  #menu-section .page-content > .content > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

#res-mag {
  height: 100%;
  min-height: 54.4rem; }
  @media only screen and (min-width: 40.063em) {
    #res-mag {
      min-height: 66rem; } }
  #res-mag > .container {
    position: relative;
    height: 100%;
    padding: 4.8rem 1.6rem 12rem; }
    @media only screen and (min-width: 40.063em) {
      #res-mag > .container {
        padding: 4.8rem 3.2rem 12rem; } }
    #res-mag > .container > .tabs-content, #res-mag > .container > .tabs-content > section {
      width: 100%;
      height: 100%; }
    #res-mag > .container > .tabs {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: auto;
      padding-bottom: 2.4rem;
      margin: 5.6rem auto 0; }
      @media only screen and (min-width: 40.063em) {
        #res-mag > .container > .tabs {
          padding-bottom: 3.2rem;
          margin: 3.2rem auto 0; } }
  #res-mag .slick-slider .slick-prev::before, #res-mag .slick-slider .slick-next::before {
    color: #e2574c; }
  #res-mag .slick-slider .slick-prev {
    left: -4rem; }
  #res-mag .slick-slider .slick-next {
    right: -4rem; }
  #res-mag .slick-dots {
    left: 0;
    bottom: -3.6rem; }

#gallery-section {
  position: relative;
  background-color: #333333; }
  #gallery-section .gallery-main {
    background: url("../img/text/gallery-loading.png") no-repeat center;
    -webkit-background-size: 21.3rem 3.5rem;
            background-size: 21.3rem 3.5rem; }
    #gallery-section .gallery-main,
    #gallery-section .gallery-main .slick-list, #gallery-section .gallery-main .slick-track,
    #gallery-section .gallery-main .gallery-main-picture, #gallery-section .gallery-main .gallery-main-picture > img {
      height: 100%; }
    @media only screen and (max-width: 40em) {
      #gallery-section .gallery-main {
        margin-left: -1.6rem;
        margin-right: -1.6rem; }
        #gallery-section .gallery-main .gallery-main-picture > img {
          position: absolute;
          top: -999rem;
          bottom: -999rem;
          left: -999rem;
          right: -999rem;
          width: auto;
          height: 100%;
          max-width: none; } }
    #gallery-section .gallery-main .gallery-main-picture {
      text-align: center; }
      #gallery-section .gallery-main .gallery-main-picture img {
        margin: auto; }
  @media only screen and (max-width: 40em) {
    #gallery-section .slick-slider .slick-prev, #gallery-section .slick-slider .slick-next {
      width: 4rem;
      height: 4rem; }
      #gallery-section .slick-slider .slick-prev:before, #gallery-section .slick-slider .slick-next:before {
        color: rgba(255, 255, 255, 0.7);
        line-height: 4rem; }
    #gallery-section .slick-slider .slick-prev {
      left: 0rem; }
    #gallery-section .slick-slider .slick-next {
      right: 0rem; } }

#res-story .content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 3.2rem 1.6rem 4rem;
  margin: auto; }
  @media only screen and (min-width: 40.063em) {
    #res-story .content {
      padding: 6.4rem 9.6rem 12.4rem; } }
  #res-story .content > .story-content {
    width: 100%;
    height: 100%;
    padding: 0 1.6rem;
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 10px;
    overflow: scroll; }
    @media only screen and (min-width: 40.063em) {
      #res-story .content > .story-content {
        padding: 0 6.4rem; } }
    #res-story .content > .story-content .story-header {
      position: relative;
      width: 100%;
      height: 3.5rem;
      margin: 2.4rem auto 1.6rem; }
      @media only screen and (min-width: 40.063em) {
        #res-story .content > .story-content .story-header {
          width: 7rem;
          height: 7rem;
          margin: 4rem auto 2rem; } }
      #res-story .content > .story-content .story-header .multiple-th, #res-story .content > .story-content .story-header .image.th {
        width: 100%;
        height: 100%; }
      #res-story .content > .story-content .story-header .story-text {
        position: absolute;
        -webkit-background-size: cover cover;
                background-size: cover;
        top: 0;
        left: -999rem;
        right: -999rem;
        width: 19.8rem;
        height: 3.5rem;
        margin: auto; }
        @media only screen and (min-width: 40.063em) {
          #res-story .content > .story-content .story-header .story-text {
            top: 20px;
            left: -125px;
            right: auto;
            width: 29.2rem;
            height: 3.5rem; } }
    #res-story .content > .story-content .story-body {
      position: relative;
      margin: 4.8rem 0 5.6rem; }
      @media only screen and (min-width: 40.063em) {
        #res-story .content > .story-content .story-body {
          margin: 5.6rem 0 3.2rem; } }
      #res-story .content > .story-content .story-body:before, #res-story .content > .story-content .story-body:after {
        position: absolute;
        left: 0;
        right: 0;
        width: 50%;
        height: 1.6rem;
        margin: auto;
        content: "—//—";
        font-size: 1.8rem;
        line-height: 1.6rem;
        color: #e6e6e6;
        text-align: center; }
      #res-story .content > .story-content .story-body:before {
        top: -3.2rem; }
      #res-story .content > .story-content .story-body:after {
        bottom: -3.2rem; }
      #res-story .content > .story-content .story-body p {
        color: #999999;
        font-size: 1.4rem;
        line-height: 2.2rem;
        text-align: center; }
  #res-story .content > .since-text {
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto; }
    @media only screen and (min-width: 40.063em) {
      #res-story .content > .since-text {
        bottom: 5rem; } }
    #res-story .content > .since-text > h3 {
      margin: 0;
      font-size: 1.4rem;
      letter-spacing: 2px;
      font-weight: 900;
      line-height: 2.4rem;
      color: white;
      text-align: center; }
      @media only screen and (min-width: 40.063em) {
        #res-story .content > .since-text > h3 {
          font-size: 2rem;
          letter-spacing: 5px; } }
      #res-story .content > .since-text > h3:after, #res-story .content > .since-text > h3:before {
        font-weight: 400; }
      #res-story .content > .since-text > h3:after {
        content: " /—"; }
      #res-story .content > .since-text > h3:before {
        content: "—/ "; }

footer.main-footer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #292929; }
  @media only screen and (min-width: 40.063em) {
    footer.main-footer {
      height: 25.6rem; } }
  footer.main-footer img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }

body#home-page {
  overflow: hidden; }

/*# sourceMappingURL=app.css.map */